

@media screen and (max-width: 1000px) {
    .topnav a {
        display: none;
    }
    .topnav a.navIcon {
      float: right;
      display: flex;
      color: red;
      margin-top: 0;
      outline: none;
    }
    .topnav a.navIcon {
        float: right;
        display: block;
        margin-top: 3px;
        font-size: 1.5rem;
    }
    .main-navbar :hover{
        display: flex;
        align-items: center;
    }
    .hero-section{
      height: 600px;
    }
}

@media screen and (max-width: 1000px) {
    .hero-section {
      display: block;
      box-shadow: unset;
      height: auto;
    }
    .hero-content {
      background: #fff;
      color: #000;
      padding: 20px;
    }
    .hero-content::after {
      content: unset;
    }
    .hero-content .btn-signup {
      display: none;
    }
    .hero-headline {
      font-size: 3.5rem;
      white-space: normal;
    }
    .hero-text {
      width: unset;
      font-size: 1rem;
    }
    .hero-img img {
      border-radius: 10px;
      margin-top: 40px;
    }
    .hero-section > .btn-signup {
      display: block;
      margin: 32px auto 10px;
      padding: 12px 35px;
    }
    .copyrights {
      margin-top: 50px;
      text-align: center;
    }

    .toggle{
        display: block;
        font-size: 2rem;
        margin-top: 4px;
        color: red;
        cursor: pointer;
        margin-right: 30px;
    }
    .ouvrir{
        display: block;
    }
    .fa.fa-times{
        position: absolute;
        right: 0px;
        top: 25px;
        margin-top: 10px;
    }
    .fa.fa-times.fermer {
        display: none;
    }
    .open .ouvrir {
        display: none;
    }
    .open .fa.fa-times.fermer{
        display: block;
        top: 33px;
        margin-right: 50px;
    }
    .menu{
        display: flex;
        flex-direction: column;
        position: relative;
        top: 28px;
    }

}

@media screen and (max-width: 880px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .navIcon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav a.navIcon {
        float: right;
        display: block;
        margin-top: 3px;
        font-size: 1.5rem;
    }
    .hero-headline{
        font-size: 3rem;
        white-space: normal;
    }
    .hero-section{
        height: auto;
    }
}


@media screen and (max-width: 707px) {
    .hero-headline {
      font-size: 3.5rem;
      white-space: normal;
    }
  }

@media screen and (max-width: 595px) {
    .hero-headline {
      font-size: 2.5rem;
      white-space: normal;
    }
  }

@media screen and (max-width: 450px) {
    .hero-headline {
      font-size: 2rem;
      white-space: normal;
      font-weight: bold;
    }
  }

  @media screen and (max-width: 375px) {
    .topnav a {
        display: none;
    }
    .hero-headline{
        font-size: 2rem;
        white-space: normal;
    }
    .hero-section{
        height: auto;
    }
    .toggle{
        display: block;
        font-size: 2rem;
        margin-top: 4px;
        color: red;
        cursor: pointer;
    }
    .ouvrir{
        display: block;
    }
    .fa.fa-times{
        position: absolute;
        right: 0px;
        top: 25px;
        margin-top: 10px;
    }
    .fa.fa-times.fermer {
        display: none;
    }
    .open .ouvrir {
        display: none;
    }
    .open .fa.fa-times.fermer{
        display: block;
        top: 25px;
        right: 0px;
    }
    .menu{
        display: flex;
        flex-direction: column;
        position: relative;
        top: 28px;
        margin-bottom: 30px;
    }
    .imgLogo{
        position: relative;
        width: 180px;
        top: 12px;
    }
}